.pcf-label {
   font-family: Roboto Slab;
   letter-spacing: 1px;
}

.pcf-input {
   width: 100%;
}

.pcf-submit-button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 10px 27px;
   margin-left: 25%;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}